<mapper namespace="product">

    <select id="selectList" resultType="com.whitley.pojo.Product">
        select * from product
    </select>

    <select id="selectOne" resultType="com.whitley.pojo.Product" parameterType="com.whitley.pojo.Product">
        select * from product where id = #{id} and username = #{username}
    </select>
</mapper>