<mapper namespace="com.whitley.dao.UserDao">

    <!-- sql的唯一标识：namespace.id来组成：statementId -->
    <select id="findAll" resultType="com.whitley.pojo.User">
        select * from user
    </select>

    <select id="findByCondition" resultType="com.whitley.pojo.User" parameterType="com.whitley.pojo.User">
        select * from user where username = #{username}
    </select>
</mapper>